html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
pre,
div,
article,
section,
figure,
figcaption,
table,
thead,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --background: #ffffff;
  --color: #000000;
  --focus: #0080ff;
  --row-highlight: #e7ecf5;
  --margin: 10px;

  --hTop: 0.5rem;
  --hBase: 0.7rem;
  --h2h: 3rem;
  --h3h: 2.5rem;
  --h4h: 2.3rem;
  --h5h: 2.2rem;
}

body {
  font: 0.9em sans-serif;
  margin-bottom: 50vh;
  line-height: 1.7;
  background: var(--background);
  color: var(--color);
}

article {
  margin: 0 auto;
  max-width: 860px;
  padding: var(--margin);
}

h1 {
  margin: calc(var(--margin) * -1) calc(var(--margin) * -1) 0;
}

h1 object {
  width: 100%;
  aspect-ratio: 1600 / 580;
  vertical-align: top;
}

h2,
h3,
h4,
h5 {
  padding: var(--hTop) calc((100vw - 100%) / 2);
  margin: 0 calc((100% - 100vw) / 2);
  position: sticky;
  background: var(--background);
  font:
    1em Vollkorn,
    Palatino,
    Georgia,
    serif;
  white-space: nowrap;
  overflow: hidden;
}

h2::after,
h3::after,
h4::after,
h5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent calc(40vw - 400px),
    #aaaaaa calc(50vw - 450px),
    #aaaaaa calc(50vw + 450px),
    transparent calc(60vw + 400px)
  );
  opacity: var(--border-opacity);
}

h2 {
  --border-opacity: 0.5;
  margin-top: 60px;
  font-size: calc(var(--h2h) - var(--hTop) - var(--hBase));
  height: var(--h2h);
  top: 0;
  z-index: 6;
}
h2 + a {
  position: relative;
  top: calc(var(--h2h) * -1);
}

h3 {
  --border-opacity: 0.4;
  margin-top: 50px;
  font-size: calc(var(--h3h) - var(--hTop) - var(--hBase));
  height: var(--h3h);
  top: calc(var(--h2h) - 0.1rem);
  z-index: 5;
}
h3 + a {
  position: relative;
  top: calc((var(--h2h) + var(--h3h) - 0.1rem) * -1);
}

h4 {
  --border-opacity: 0.3;
  margin-top: 40px;
  font-size: calc(var(--h4h) - var(--hTop) - var(--hBase));
  height: var(--h4h);
  top: calc(var(--h2h) + var(--h3h) - 0.2rem);
  z-index: 4;
}
h4 + a {
  position: relative;
  top: calc((var(--h2h) + var(--h3h) + var(--h4h) - 0.2rem) * -1);
}

h5 {
  --border-opacity: 0.2;
  margin-top: 30px;
  font-size: calc(var(--h5h) - var(--hTop) - var(--hBase));
  height: var(--h5h);
  top: calc(var(--h2h) + var(--h3h) + var(--h4h) - 0.3rem);
  z-index: 3;
}
h5 + a {
  position: relative;
  top: calc((var(--h2h) + var(--h3h) + var(--h4h) + var(--h5h) - 0.3rem) * -1);
}

p {
  margin-top: 10px;
}

pre {
  font: 1rem monospace;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-left-width: 5px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.02);
  margin: 10px 10px 20px;
  overflow-x: auto;
}

pre.diff {
  position: relative;
  padding-left: 35px;
}

pre ins {
  background: #ddffdd;
  text-decoration: none;
}
pre ins::before {
  content: '+';
}
pre del {
  background: #ffdddd;
  text-decoration: rgba(0, 0, 0, 0.7) line-through 2px;
}
pre del::before {
  content: '-';
}
pre ins::before,
pre del::before {
  position: absolute;
  left: 10px;
}
pre ins,
pre del {
  display: inline-block;
  margin: 0 -10px 0 -35px;
  padding: 0 10px 0 35px;
  min-width: 100%;
}

pre .keyword {
  color: #0000cc;
}
pre .string {
  color: #800000;
}
pre .property {
  color: #000080;
}
pre .method {
  color: #008080;
}
pre .comment {
  color: #408040;
}
pre .value {
  color: #008040;
}

code {
  display: inline-block;
  font: 1.1em monospace;
  padding: 1px 5px;
  margin: -2px 0;
  position: relative;
  top: -1px;
  border: 1px solid #aaaaaa60;
  border-radius: 5px;
}

pre code {
  display: block;
  font: inherit;
  padding: 0;
  margin: 0;
  position: initial;
  top: 0;
  border: none;
  border-radius: 0;
}

math {
  font-size: 1.1em;
  padding: 1px 5px;
  margin: -2px 0;
  position: relative;
  top: -1px;
  border: 1px solid #aaaaaa60;
  border-radius: 5px;
  white-space: nowrap;
}

table {
  margin: 20px;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 0 20px 5px 10px;
}

thead {
  border-bottom: 1px solid var(--color);
}

tbody tr:hover td {
  background: var(--row-highlight) !important;
}

td {
  padding: 5px 20px 0 10px;
  vertical-align: top;
}

td.R {
  text-align: right;
}

td.C {
  text-align: center;
}

.wide {
  overflow-x: auto;
  margin: 30px calc((100% - min(calc(100vw - 20px), 1600px)) / 2);
  padding: 10px 0;
}

.wide table {
  white-space: nowrap;
  margin: 0 auto 10px;
}
.wide th {
  font-size: 0.8em;
  vertical-align: bottom;
}
.wide td {
  height: 50px;
  padding-top: 0;
  vertical-align: middle;
}
.wide td:first-child,
.wide tr:first-child th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background: var(--background);
}

ul,
ol {
  margin-top: 10px;
}

li {
  margin-top: 10px;
  margin-left: 40px;
}

ul ul {
  margin-top: 0;
}

.toc,
.toc ul {
  list-style: none;
}

.toc li {
  margin-top: 2px;
  margin-left: 20px;
}
.toc > li {
  margin-left: 10px;
}

.toc code {
  font-size: 1.2em;
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
  font-size: 1em;
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

figure {
  display: inline-block;
  margin: 10px;
}

figure img {
  display: block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.masks {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.masks img {
  image-rendering: pixelated;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
}

q {
  font-size: 0.8em;
  overflow-wrap: break-word;
}

a {
  overflow-wrap: break-word; /* fix issue with long URLs not wrapping in Safari */
}

a:link,
a:visited {
  text-decoration: none;
  color: #333399;
}

a:active,
a:hover {
  text-decoration: underline;
  color: #2222aa;
}

pre a:link,
pre a:visited {
  text-decoration: dotted underline #4080cc;
}

pre a:active,
pre a:hover {
  text-decoration: underline #0040cc;
}

/* tab control */

.tabbox {
  --background: #fcfdff;
  --tab-border: #ccccdd;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tabbox .tabbox {
  --background: #f6faff;
}

.tabbox > input {
  position: absolute;
  left: -100px;
  opacity: 0;
}

.tabbox > label:first-of-type {
  margin-left: 0.5rem;
}

.tabbox > label {
  position: relative;
  padding: 0.6rem 1rem 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 1;
}

.tabbox > input:checked + label {
  background: var(--background);
  border-color: var(--tab-border);
  padding: 0.5rem 1rem 0.6rem;
}

.tabbox > input:focus + label::after {
  content: '';
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  right: 0.3rem;
  bottom: 0.4rem;
  border: 2px solid var(--focus);
  border-radius: 5px;
}

.tabbox > .tabcontent {
  display: none;
  flex: 100%;
  margin-top: -2px;
  border: 2px solid var(--tab-border);
  background: var(--background);
  padding: 1.5rem;
  border-radius: 3px;
  width: 100%;
}

.tabbox .tabbox > .tabcontent {
  padding: 1rem 0.5rem 0;
}

.tabcontent > :first-child {
  margin-top: 0;
}

.tabcontent h2,
.tabcontent h3,
.tabcontent h4,
.tabcontent h5 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.tabcontent h2::after,
.tabcontent h3::after,
.tabcontent h4::after,
.tabcontent h5::after {
  background: var(--tab-border);
}

#t1:checked ~ .tabcontent[data-for='t1'],
#t2:checked ~ .tabcontent[data-for='t2'],
#t3:checked ~ .tabcontent[data-for='t3'],
#t4:checked ~ .tabcontent[data-for='t4'],
#t5:checked ~ .tabcontent[data-for='t5'],
#t6:checked ~ .tabcontent[data-for='t6'],
#cdn1:checked ~ .tabcontent[data-for='cdn1'],
#cdn2:checked ~ .tabcontent[data-for='cdn2'],
#cdn3:checked ~ .tabcontent[data-for='cdn3'] {
  display: block;
}

@media (max-width: 600px) {
  table {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  th,
  td {
    padding-left: 5px;
    padding-right: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --color: #f8f8f8;
    --focus: #0080ff;
    --row-highlight: #404050;
  }

  h1 object {
    filter: brightness(150%);
  }

  .tabbox {
    --background: #3a3a3a;
    --tab-border: #999999;
  }

  .tabbox .tabbox {
    --background: #444444;
  }

  a:link,
  a:visited {
    color: #99ccff;
  }

  a:active,
  a:hover {
    color: #bbddff;
  }

  pre a:link,
  pre a:visited {
    text-decoration-color: #99ccff80;
  }

  pre a:active,
  pre a:hover {
    text-decoration-color: #99ccffaa;
  }

  pre {
    border-color: #999999;
    background: #111111;
  }

  pre del {
    background: #660000;
    text-decoration-color: var(--color);
  }

  pre ins {
    background: #005500;
  }

  pre .keyword {
    color: #aabbff;
  }
  pre .string {
    color: #ff8888;
  }
  pre .property {
    color: #ee88ff;
  }
  pre .method {
    color: #00ffff;
  }
  pre .comment {
    color: #aaeeaa;
  }
  pre .value {
    color: #66ff66;
  }
}
