html,
body,
article,
h1,
p,
form,
summary,
fieldset,
legend,
div,
label,
pre,
svg {
  margin: 0;
  padding: 0;
  font-style: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  border: none;
}

:root {
  --background: #fafafa;
  --section-background: #ffffff;
  --border: #666666;
  --title: #438bde;
  --color: #000000;
  --focus: #0080ff;
  --inactive-tab: #e7e8ea;
  --error: #cc0000;
  --link: #275484;
  --link-hover: #333344;
  --link-back: #eeeeee;
  --button-hover: #5555aa;
  --margin: 10px;
}

input,
select,
textarea {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--color);
  font: 0.9em sans-serif;
  line-height: 1.2;
}

form {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1000px;
  padding: 10px 10px 100px;
  gap: 10px;
}

h1 {
  display: inline-block;
  font: 2em bold serif;
  color: var(--title);
  margin: 0 10px 5px 0;
  vertical-align: bottom;
}

input[name='tab'] {
  position: absolute;
  appearance: none;
  top: -100px;
  width: 1px;
  height: 1px;
}

.tab {
  user-select: none;
  display: inline-block;
  vertical-align: bottom;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  margin: 1px 1px 0 6px;
  padding: 4px 10px 5px;
  background: var(--inactive-tab);
  cursor: pointer;
}

input[name='tab']:focus + label::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -3px;
  border: 2px solid var(--focus);
  border-radius: 5px;
}

input[name='tab']:checked + .tab {
  position: relative;
  margin: 0 0 -1px 5px;
  border: 1px solid var(--border);
  padding: 5px 10px 6px;
  background: var(--section-background);
  border-bottom: none;
  cursor: default;
  z-index: 1;
  box-shadow: 0 2px var(--section-background);
}

#tab-message:not(:checked) ~ .tabpanel.message,
#tab-appearance:not(:checked) ~ .tabpanel.appearance,
#tab-advanced:not(:checked) ~ .tabpanel.advanced {
  display: none;
}

textarea {
  display: block;
  height: 150px;
  min-height: 40px;
  max-height: 70vh;
  resize: vertical;
  font: 1.2em / 1.5 sans-serif;
}

textarea,
.tabpanel {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--section-background);
  color: var(--color);
}

.tabpanel {
  padding: 2px 0 10px;
}

.tabpanel.message {
  padding: 0;
  border: none;
  border-radius: 0;
}

.tabpanel section {
  display: inline-flex;
  margin: 8px 10px 0;
  flex-flow: column;
  gap: 8px;
}

fieldset {
  line-height: 1.8;
}

legend {
  float: left;
  width: 150px;
  font-weight: bold;
}

fieldset > div {
  margin-left: 150px;
}

.tabpanel label {
  display: inline-block;
  white-space: nowrap;
}

input[type='number'],
select {
  width: 90px;
}

select#mask {
  width: 120px;
}

input#trailer {
  width: 120px;
  font-family: monospace;
}

.check-list {
  display: flex;
  flex-flow: row wrap;
  max-width: 400px;
}

.check-list > * {
  flex: 0 1 130px;
}

.picker-2col {
  position: relative;
  width: 56px;
  height: 56px;
}

.picker-2col input {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 1px solid var(--border);
  border-radius: 10px;
}

.picker-2col input::-moz-color-swatch {
  border-radius: 5px;
}

.picker-2col input::-webkit-color-swatch {
  margin: -4px -2px;
  border-radius: 5px;
}

.picker-2col [name='on'] {
  top: 0;
  left: 0;
  z-index: 1;
}

.picker-2col [name='off'] {
  top: 16px;
  left: 16px;
}

.noscript .picker-2col button {
  display: none;
}

.picker-2col button {
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  padding: 0;
  font-size: 24px;
  line-height: 18px;
  overflow: hidden;
  color: var(--color);
  cursor: pointer;
}

.picker-2col button svg {
  display: block;
}

.picker-2col button:hover {
  color: var(--button-hover);
}

.output {
  width: 100%;
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

#error {
  display: none;
  font-size: 1.5em;
  color: var(--error);
  margin: 100px 0;
  text-align: center;
}

.noscript #error,
.error #error {
  display: block;
}

#qr {
  display: none;
  --min-height: 500px;
  --size-limit: calc(100vw - 20px);
  flex: 1 0 min(var(--size-limit), var(--min-height));
  max-height: var(--size-limit);
  aspect-ratio: 1;
  margin: 0 auto;
  image-rendering: pixelated;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.success #qr {
  display: block;
}

#download {
  display: none;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.success #download {
  display: flex;
}

#download a::before {
  content: '\2B07\FE0F';
  padding-right: 5px;
}

#download .share::before {
  content: '\27A1\FE0F';
}

nav {
  position: absolute;
  display: flex;
  gap: 5px;
  top: 0;
  right: max(50vw - 500px, 0px);
  padding: calc(2px + 0.5em) 10px 0 0;
  text-align: right;
}

a {
  display: inline-block;
  padding: 6px 10px 4px;
  border-radius: 10px;
  transition: 0.1s linear background;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--link);
}

a:active,
a:hover {
  color: var(--link-hover);
  background: var(--link-back);
}

.share {
  display: none;
}

@media (max-width: 610px) {
  h1 {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --section-background: #222222;
    --border: #808080;
    --title: #44caff;
    --color: #f8f8f8;
    --focus: #0080ff;
    --inactive-tab: #444450;
    --error: #ff3333;
    --link: #3697ff;
    --link-hover: #cdcddd;
    --link-back: #4f4f4f;
    --button-hover: #93c2ff;
  }
}
